tr {
display: flex;
flex-direction: row;
}

td {
  background-color: rgb(197, 220, 220);
  border: 2px solid black ;
  width: 120px;
  height: 80px;
  font-size: 60px;
  font-weight: bolder;
  padding-top: 3rem;
}

.btn-restart {
  background-color: rgb(162, 209, 209);
  font-weight: bolder;
}

.player {
  font-size: x-large;
}

.win {
  font-size: x-large;
}
